* {
  box-sizing: border-box;
}

html {
  display: block;
  width: 100vw;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
}

.App {
  font-family: 'Spartan', serif;
  color: rgb(41, 41, 43);
  background-color: white;
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}

/* LOGIN and REGISTER */
.login-page{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  width: 100vw;
  color: #632CA6;
  font-family: 'Baskervville', serif;
}

.login-page p{
  font-size: 1.2em;
}

.login-page section a{
  color: rgb(98, 7, 134);
  transition: ease 0.5s;
}

.login-page section a:hover{
  color: rgb(186, 18, 192);
}

.login-page-left, .login-page-right{
  flex: 50%;
  margin: 0;
  padding: 0.5em 1em;
}

.login-page-left{
  text-align: center;
}

.login-page h6{
  text-align: left;
  color: rgb(50, 50, 50);
  font-size: 0.6em;
  width: 70%;
  font-weight: 300;
  margin: 0.1em auto;
}

.login-page-right{
  text-align: left;
}

.login-page-right h1 {
  font-size: 6vw;
  padding-right: 10vw;
  margin: 0;
  font-family: 'Anton', sans-serif;
  color: #632CA6;
}

.register h1{
  font-size: 4vw;
  padding: 0.1em;
  margin: 0;
  font-family: 'Anton', sans-serif;
  color: #632CA6;
}


.login-page-right h3{
  font-size: 1.6em;
  font-weight: 400;
  padding-right: 10vw;
  color: #632CA6;
}

.register h3{
  font-size: 2vw;
  font-weight: 400;
  padding: 0.1em;
  color: #632CA6;
  margin: 0;
}

.register header{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.datadog-logo-register{
  max-width: 15%;
}

.datadog-logo-register img{
  max-width: 100%;
}

.header-description{
  display: flex;
  flex-direction: column;
}

.login-form{
  margin: 0 auto;
}

#dog-meeting{
  width: 90%;
}

#dog-by-computer{
  width: 80%;
}

.datadog-logo{
  max-width: 50%;
}

.datadog-logo img{
  max-width: 40%;
}

.login-page input {
  padding: 1em;
  background-color: rgb(215, 211, 240);
  border: none;
  border-radius: 0.2em;
  color: rgb(98, 7, 134);
  font-size: 1em;
  margin: 0.2em auto;
  width: 70%;
  opacity: 1;
  font-style: italic;
}

.login-page button {
  padding: 1em;
  border: 0.07em solid rgb(98, 7, 134);
  border-radius: 0.3em;
  background-color: white;
  color: rgb(98, 7, 134);
  font-size: 1em;
  margin: 0.8em auto -0.3em auto;
  width: 70%;
  opacity: 1;
  font-weight: 600;
  cursor: pointer;
  transition: ease 0.5s;
}

.login-page button:hover {
  background-color: rgb(98, 7, 134);
  color: white;
}

.login-page section {
  margin: 0 auto;
  width: 72%;
}

.or-section p{
  display: flex;
  flex-direction: row;
  color: #5B35A0
}

.or-section p:before, .or-section p:after {
  content: "";
  flex: 1 1;
  border-bottom: 0.01em solid rgb(98, 7, 134);
  margin: 0.4em;
}

::placeholder{
  color: rgb(98, 7, 134);
  opacity: 1;
  font-style: italic;
}

/*User Page */


.greeting h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  }

.greeting h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18x;
  text-align: center;
      }
  
.user-page-aside p {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 38px;
    text-align: center;
    color: white;
    }

.user-pack h1, .user-bow h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

.user-page {
  display: flex;
  flex-direction: row;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.user-page-aside{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: -1em;
  text-align: center;
}

.user-page-header {
  width:20%;
  margin-left: 3rem;
  background: rgb(99,44,166);
  background: linear-gradient(180deg, rgba(98,45,165,1) 35%, rgba(162,67,153,1) 100%);
  color: white;
}

.user-profile-picture {
  width: 60%;
  border-radius: 20rem;
  margin-left: 3em;
}
.userButtons {
  border-radius: 1em;
  background-color: #5B35A0;
  color: white;
  font-size: 16px;
  border: 2px solid white;
  padding: 10px;
  }
.user-posts {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}  


/* Nav bar  */
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-buttons{
  margin: 2rem;
  font-size: 18px;
  font-weight: 700;
  border-radius: 5px;
  padding: 12px;
  color: #5B35A0;
  border: 3px solid #5B35A0;
}
.nav-buttons:hover {
  margin: 2rem;
  color:white;
  background-color: #5B35A0;
}

/* User Feed */
.user-feed-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.Feed-form {
  display: flex;  
}

.form-button{
  color: #5B35A0;
  border: 2px solid #5B35A0;
}

.Feed-form-container {
  width: 30vw;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem;
}

.profile-picture {
width: 25%;
border-radius: 10rem;
}

textarea {
width: 100%;
}

/*Announcements  */
.Announcement {
  display: flex;
  flex-direction: row;
  width: 30%
}

.Announcements-container h1 {
font-size: 36px;

}

.Announcement-picture {
height: 10%
} 

/* Dropdown Button */
.dropbtn {
  background-color: #5B35A0;
  border: 2px solid #5B35A0;
  color: white;
  padding: 10px;
  font-size: 16px;
  border-radius:1em;
  margin-bottom: 2rem;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #5B35A0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #5B35A0;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: white;}


/* SMALL SCREEN */
@media only screen and (max-width: 769px) {
  .login-page{
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    align-content: flex-end;
    align-items: flex-end;
    padding: 1em 0.1em 0.2em 0.1em;
  }

  .login-page-left, .login-page-right{
    flex: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .datadog-logo {
    max-width: 100%;
  }

  .datadog-logo img{
    max-width: 25%;
  }

  #dog-meeting{
    width: 75%;
  }

  .login-page-right h1{
    font-size: 8.5vw;
    padding: 0.2em;
    margin: -0.5em auto -0.4em auto;
    letter-spacing: -0.01em;
  }

  .login-page-right h3{
    font-size: 4vw;
    padding: 0.2em;
    margin: -0.5em auto;
  }

  .login-page-left h6{
    width: 80%;
  }

  .login-page input, .login-page button{
    padding: 0.5em;
    width: 80%;
  }

  .login-page section {
    width: 84%;
  }

  .register h1{
    padding: 0.2em;
    font-size: 6vw;
  }

  .register h3{
    font-size: 3vw;
  }

}



