html {
  width: 100vw;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: 'Spartan', serif;
  color: rgb(41, 41, 43);
  background-color: white;
  animation: fadein 2s;
  overflow-x: hidden;
  box-sizing: border-box;
}

@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}

/* LOADING */

.loading-message {
  text-align: center;
}

.loader {
  margin: 1em auto;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #632CA6; /* Blue */
  border-radius: 50%;
  width: 2em;
  height: 2em;
  animation: spin 2s linear infinite;
}

/* LOGIN & REGISTER */

.logged-in{
  margin: 1em;
  padding: 1em;
  font-size: large;
}

.login-page *{
  box-sizing: border-box;
}

.login-page {
  margin: 0.5em auto;
  padding: 0;
  color: #632CA6;
  font-family: 'Baskervville', serif;
}

.login-page p{
  font-size: 1.2em;
}

.login-page header{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  width: 100vw;
}

.header-title{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  padding: 0.1em;
}

.header-logo{
  margin: 0;
  padding: 0;
  width: 15vw;
}

.header-logo img{
  max-width: 100%;
  display: block;
}

.login-page header h1 {
  font-size: 5vw;
  margin: 0;
  font-family: 'Anton', sans-serif;
}

.login-page header h3 {
  font-size: 1.5vw;
  margin: 0;
}

.login-page main{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  width: 100vw;
}

.login-picture{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0.1vw;
  padding: 1vw;
  width: 40%;
}

#dog-meeting{
  width: 100%;
}

.login-picture h6{
  text-align: right;
  color: rgb(50, 50, 50);
  font-size: 0.6em;
  font-weight: 300;
  margin: 0 auto;
  padding-right: 5vw;
  width: 100%;
}

.login-form{
  display: flex;
  flex-direction: column;
  margin: 0.1vw;
  padding: 1vw;
  width: 30%;
}

.login-form input {
  padding: 1.2em 0;
  background-color: rgb(215, 211, 240);
  border: none;
  border-radius: 0.2em;
  color: rgb(98, 7, 134);
  font-size: 1em;
  margin: 0.8vw auto;
  width: 100%;
  opacity: 1;
  font-style: italic;
}

.login-form button {
  padding: 1.2em 0;
  border: 0.07em solid rgb(98, 7, 134);
  border-radius: 0.3em;
  background-color: white;
  color: rgb(98, 7, 134);
  font-size: 1em;
  margin: 0.8vw auto;
  width: 100%;
  opacity: 1;
  font-weight: 600;
  cursor: pointer;
  transition: ease 0.5s;
}

.login-form input[type="text"], .login-form input[type="password"] {
  padding-left: 1em;
}

.login-form button:hover {
 background: linear-gradient(0deg, #A24399 0%, #A24399 14.05%, #622DA5 67.84%, #622DA5 78.07%);
 color: white;
}

.login-form section {
  margin: 0 auto;
  width: 100%;
}

.or-section p{
  display: flex;
  flex-direction: row;
  color: #5B35A0
}

.or-section p:before, .or-section p:after {
  content: "";
  flex: 1 1;
  border-bottom: 0.01em solid rgb(98, 7, 134);
  margin: 0.5em 0.1em;
}

.login-form section a{
  text-align: center;
  color: rgb(98, 7, 134);
  transition: ease 0.5s;
}

.login-form section a:hover{
  color: rgb(186, 18, 192);
}

::placeholder{
  color: rgb(98, 7, 134);
  opacity: 1;
  font-style: italic;
}


/* USER PAGE */

.user-loggedout {
  display: block;
  padding: 3vw;
  color: rgb(98, 7, 134);
  margin: 0 auto;
  border-left: 1em solid rgb(98, 7, 134);;
  height: 100vh;
}

.user-loggedout svg{
  width: 3em;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}

.user-loggedout button {
  border: 0.07em solid rgb(98, 7, 134);
  border-radius: 0.3em;
  background-color: white;
  color: rgb(98, 7, 134);
  font-size: 1em;
  margin: 0.8vw 0;
  padding: 1vw;
  width: 15em;
  opacity: 1;
  font-weight: 600;
  cursor: pointer;
  transition: ease 0.5s;
}

.user-loggedout button:hover {
 background: linear-gradient(0deg, #A24399 0%, #A24399 14.05%, #622DA5 67.84%, #622DA5 78.07%);
 color: white;
}

.user-profile {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  min-height: 100vh;
  width: 20vw;
  padding: 1em;
  text-align: center;
  color: white;
  background: linear-gradient(0deg, #A24399 0%, #A24399 14.05%, #622DA5 67.84%, #622DA5 78.07%);
}

#user-profile-status {
  margin: 1em auto;
}

#user-profile-status a {
  font-size: 1.2em;
  color: rgb(230, 190, 254);
}

#user-profile-status a:hover {
  color: rgb(238, 82, 178);
}

.user-profile-picture{
  width: 100%;
  margin: 0 auto;
}

.user-profile-info h3 {
  margin: 0.5em auto;
  font-weight: 500;
}

.user-profile-picture img{
  width: 60%;
  min-width: 8em;
  border-radius: 50%;
}

.user-feed {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  margin-left: 20vw;
  padding: 1em 1em 2em 3em;
  background-color:rgb(250, 250, 250);
}

.user-feed nav {
  margin: 0 auto 1.5vw auto;
  width: 100%;
}

.user-feed nav a{
  text-decoration: none;
}

.user-feed nav button {
  border: 0.07em solid rgb(98, 7, 134);
  border-radius: 0.3em;
  background-color: white;
  color: rgb(98, 7, 134);
  font-size: 1em;
  margin-right: 1vw;
  padding: 1vw;
  min-width: 20vw;
  opacity: 1;
  font-weight: 600;
  cursor: pointer;
  transition: ease 0.5s;
}
  
.user-feed nav button:hover {
  background: linear-gradient(0deg, #A24399 0%, #A24399 14.05%, #622DA5 67.84%, #622DA5 78.07%);
  color: white;
}

.user-feed nav button:last-child {
  display: none;
}

.user-feed main {
  margin-top: 1vw;
  margin-right: 0.2vw;
  flex: 3;
}

.user-feed aside {
  flex: 1;
  margin: 0.5vw 1vw;
  padding: 0;
}

.user-feed aside h1{
  margin: 0.9vw auto 1vw auto;
}

.announcement {
  border: 0.07em solid #A09D9D;
  border-radius: 0.3em;
  padding: 1em;
  margin: 1em auto;
}

.announcement h4{
  margin-top: -0.8em;
  font-weight: 400;
}

.announcement-photo {
  margin: 0 auto;
  width: 6em;
  height: 6em;
  border-radius: 50%;
}

.announcement-photo img{
  height: 100%; 
  width: 100%; 
  object-fit: cover;
  border-radius: 50%;
  object-position: right top;
}

/* FEED FORM */

.feed-form form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 0.07em solid #A09D9D;
  border-radius: 0.3em;
  padding: 1vw;
  margin-bottom: 2vw;
  background-color: white;
}

.feed-form-bottom {
  text-align: right;
  margin-top: 1vw;
}

.feed-form form button{
  border: 0.07em solid rgb(98, 7, 134);
  border-radius: 0.3em;
  background-color: white;
  color: rgb(98, 7, 134);
  font-size: 1em;
  margin: 0;
  padding: 1vw;
  min-width: 20vw;
  opacity: 1;
  font-weight: 600;
  cursor: pointer;
  transition: ease 0.5s;
  }
    
  .feed-form form button:hover {
    background: linear-gradient(0deg, #A24399 0%, #A24399 14.05%, #622DA5 67.84%, #622DA5 78.07%);
    color: white;
  }

.feed-form textarea{
  font-family: 'Spartan', serif;
  font-size: large;
  padding: 1vw;
  color: #5F5D5D;
  outline: none;
  border-color: rgb(233, 233, 233);
  box-shadow: 0 0 1em rgb(236, 236, 236);
}

.feed-form textarea::placeholder{
  color: #5F5D5D;
}



/* SMALL SCREEN */
@media only screen and (max-width: 769px) {

/* LOGIN */

.header-logo{
  display: block;
  text-align: left;
  width: 100vw;
}

.header-logo img{
  display: block;
  text-align: left;
  width: 25%;
}

.login-page header{
  padding: 0.5em 1em;
  margin: 0;
  text-align: left;
}

.login-page header h1 {
  font-size: 9vw;
}

.login-page header h3 {
  font-size: 4.5vw;
}

.login-page main{
  flex-direction: column;
  margin: 1em auto;
  width: 95vw;
}

.login-form{
  width: 100%;
}

.login-form input, .login-form button{
  padding: 1em 0;
  margin: 1vw auto;
}

.login-picture{
  width: 100%;
}

.login-picture h6{
  font-size: 0.5em;
}

.user-feed {
  flex-direction: column;
  padding: 9em 1em 1em 1em;
  margin: 0 auto;
}

.user-feed nav button:last-child {
  display: inline;
}

.user-profile {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  align-content: flex-start;
  height: 6em;
  min-height: 6em;
  width: 100%;
  padding: 1em;
  text-align: left;
}

.user-profile-picture {
  width: 6em;
  min-width: 6em;
  margin: 0;
}

.user-profile-picture img{
  min-width: 100%;
}

#user-profile-status {
  position: fixed;
  top: 0.5em;
  right: 0.5em;
  margin: 0 auto;
}

.user-profile-info {
  margin: 0 1vw;
  padding: 0 2vw;
}

.user-profile-info > h1 {
  font-size: larger;
}

.user-profile-info > h1, .user-profile-info h3 {
  margin: 0.2em auto;
}

#global-announcements {
  padding-top: 9em;
}


}


