html {
  display: block;
  width: 100vw;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
}

.App {
  display: block;
  width: 100vw;
  min-height: 100vh;
  font-family: 'Spartan', serif;
  color: rgb(41, 41, 43);
  background-color: white;
  animation: fadein 2s;
  overflow-x: hidden;
  box-sizing: border-box;
}

@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}

/* LOADING */

.loading-message {
  text-align: center;
}

.loader {
  margin: 1em auto;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #632CA6; /* Blue */
  border-radius: 50%;
  width: 2em;
  height: 2em;
  animation: spin 2s linear infinite;
}

/* LOGIN */

.logged-in{
  margin: 1em;
  padding: 1em;
  font-size: large;
}

.login-page *{
  box-sizing: border-box;
}

.login-page {
  margin: 0.5em auto;
  padding: 0;
  color: #632CA6;
  font-family: 'Baskervville', serif;
}

.login-page p{
  font-size: 1.2em;
}

.login-page header{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  width: 100vw;
}

.header-title{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  padding: 0.1em;
}

.header-logo{
  margin: 0;
  padding: 0;
  width: 15vw;
}

.header-logo img{
  max-width: 100%;
  display: block;
}

.login-page header h1 {
  font-size: 5vw;
  margin: 0;
  font-family: 'Anton', sans-serif;
}

.login-page header h3 {
  font-size: 1.5vw;
  margin: 0;
}

.login-page main{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  width: 100vw;
}

.login-picture{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0.1vw;
  padding: 1vw;
  width: 40%;
}

#dog-meeting{
  width: 100%;
}

.login-picture h6{
  text-align: right;
  color: rgb(50, 50, 50);
  font-size: 0.6em;
  font-weight: 300;
  margin: 0 auto;
  padding-right: 5vw;
  width: 100%;
}

.login-form{
  display: flex;
  flex-direction: column;
  margin: 0.1vw;
  padding: 1vw;
  width: 30%;
}

.login-form input {
  padding: 1.2em 0;
  background-color: rgb(215, 211, 240);
  border: none;
  border-radius: 0.2em;
  color: rgb(98, 7, 134);
  font-size: 1em;
  margin: 0.8vw auto;
  width: 100%;
  opacity: 1;
  font-style: italic;
}

.login-form button {
  padding: 1.2em 0;
  border: 0.07em solid rgb(98, 7, 134);
  border-radius: 0.3em;
  background-color: white;
  color: rgb(98, 7, 134);
  font-size: 1em;
  margin: 0.8vw auto;
  width: 100%;
  opacity: 1;
  font-weight: 600;
  cursor: pointer;
  transition: ease 0.5s;
}

.login-form input[type="text"], .login-form input[type="password"] {
  padding-left: 1em;
}

.login-form button:hover {
 background: linear-gradient(0deg, #A24399 0%, #A24399 14.05%, #622DA5 67.84%, #622DA5 78.07%);
 color: white;
}

.login-form section {
  margin: 0 auto;
  width: 100%;
}

.or-section p{
  display: flex;
  flex-direction: row;
  color: #5B35A0
}

.or-section p:before, .or-section p:after {
  content: "";
  flex: 1 1;
  border-bottom: 0.01em solid rgb(98, 7, 134);
  margin: 0.5em 0.1em;
}

.login-form section a{
  text-align: center;
  color: rgb(98, 7, 134);
  transition: ease 0.5s;
}

.login-form section a:hover{
  color: rgb(186, 18, 192);
}

::placeholder{
  color: rgb(98, 7, 134);
  opacity: 1;
  font-style: italic;
}

/* REGISTER */

.register h1{
  font-size: 4vw;
  padding: 0.1em;
  margin: 0;
  font-family: 'Anton', sans-serif;
  color: #632CA6;
}

.register h3{
  font-size: 2vw;
  font-weight: 400;
  padding: 0.1em;
  color: #632CA6;
  margin: 0;
}

.register header{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.datadog-logo-register{
  max-width: 15%;
}

.datadog-logo-register img{
  max-width: 100%;
}

#dog-by-computer{
  width: 80%;
}


/*User Page */


.greeting h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  }

.greeting h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18x;
  text-align: center;
      }
  
.user-page-aside p {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 38px;
    text-align: center;
    color: white;
    }

.user-pack h1, .user-bow h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

.user-page {
  display: flex;
  flex-direction: row;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.user-page-aside{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: -1em;
  text-align: center;
}

.user-page-header {
  width:20%;
  margin-left: 3rem;
  background: rgb(99,44,166);
  background: linear-gradient(180deg, rgba(98,45,165,1) 20%, rgba(162,67,153,1) 100%);
  color: white;
}

.user-profile-picture {
  width: 60%;
  border-radius: 20rem;
  margin-left: 3em;
}
.userButtons {
  border-radius: 1em;
  background-color: #5B35A0;
  color: white;
  font-size: 16px;
  border: 2px solid white;
  padding: 10px;
  }
.user-posts {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}  


/*User Feed */

.feed-bottom {
display: flex;
flex-direction: row;


}

.feed-icons img {
width: 4%;
margin: 1rem;
}

.form-button { 
border-radius: 1rem;
padding-left: 20px;
padding-right: 20px;
font-weight: 700;

}


/* Nav bar  */
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-buttons{
  margin: 2rem;
  font-size: 18px;
  font-weight: 700;
  border-radius: 5px;
  padding: 12px;
  color: #5B35A0;
  border: 3px solid #5B35A0;
}
.nav-buttons:hover {
  margin: 2rem;
  color:white;
  background-color: #5B35A0;
  background: linear-gradient(90deg, rgba(98,45,165,1) 5%, rgba(162,67,153,1) 100%);
}

/* User Feed */
.user-feed-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.Feed-form {
  display: flex;  
}

.form-button{
  color: #5B35A0;
  border: 2px solid #5B35A0;
}

.Feed-form-container {
  width: 30vw;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem;
}

.profile-picture {
width: 25%;
border-radius: 10rem;
}

textarea {
width: 100%;
}

/*Announcements  */
.Announcement {
  display: flex;
  flex-direction: row;
  width: 30%
}

.Announcements-container h1 {
font-size: 36px;

}

.Announcement-picture {
height: 10%
} 

/* Dropdown Button */
.dropbtn {
  background-color: #5B35A0;
  border: 2px solid #5B35A0;
  color: white;
  padding: 10px;
  font-size: 16px;
  border-radius:1em;
  margin-bottom: 2rem;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #5B35A0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #5B35A0;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: white;}


/* SMALL SCREEN */
@media only screen and (max-width: 769px) {

/* LOGIN */

.header-logo{
  display: block;
  text-align: left;
  width: 25vw;
}

.login-page header{
  padding: 0.5em 1em;
  margin: 0;
  text-align: left;
}

.login-page header h1 {
  font-size: 9vw;
}

.login-page header h3 {
  font-size: 4.5vw;
}

.login-page main{
  flex-direction: column;
  margin: 1em auto;
  width: 95vw;
}

.login-form{
  width: 100%;
}

.login-form input, .login-form button{
  padding: 1em 0;
  margin: 1vw auto;
}

.login-picture{
  width: 100%;
}

.login-picture h6{
  font-size: 0.5em;
}



}


